<?xml version='1.0' encoding='UTF-8'?>
<github-plugin-configuration plugin="github@1.17.0">
  <configs>
    <github-server-config>
      <apiUrl>{{ github_api_url }}</apiUrl>
      <manageHooks>false</manageHooks>
      <credentialsId>75fc57c6-a349-4462-9a01-abf94552086e</credentialsId>
      <clientCacheSize>20</clientCacheSize>
    </github-server-config>
  </configs>
</github-plugin-configuration>
