server {
  listen 80;
  server_name {{ lighthouse_ci_hostname }};

  location /refresh {
    alias {{ lighthouse_ci_static_dest_path }};
    autoindex on;
  }

  location / {
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;

    proxy_pass {{ jenkins_internal_url }};
  }
}
