<!DOCTYPE html>
<html>
<head>
	<title>Simple Lighthouse Build Radiator</title>
	<meta http-equiv="refresh" content="30">
	<style type="text/css">
	html, body, iframe {
		width:100%;
		padding:0;
		margin:0;
		height:100%;
		border:none;
		text-indent:0;
	}
	html, body {
		overflow:hidden;
	}
	</style>
</head>
<body>
	<iframe src="//{{ lighthouse_ci_hostname }}"></iframe>
</body>
</html>
